<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>just go and to do</title>
    <link rel="stylesheet" href="../../assets/css/admin/style.css" />
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="logo">gotodo</div>

        <ul id="nav" v-component="scope" class="nav navbar-nav">
            <li v-class="active:current=='project'">
                <a v-on="click:current='project'" v-href="project.index">项目</a>
            </li>
            <li v-class="active:current=='task'">
                <a v-on="click:current='task'" v-href="task.index">任务</a>
            </li>
            <li v-class="active:current=='user'">
                <a v-on="click:current='user'" v-href="user.index">成员</a>
            </li>
        </ul>
    </header>

    <div class="page-wrapper slide-reveal" v-view="view"></div>

    <div v-component="message" class="message"></div>
    <div v-component="loading" img="../../assets/images/loading.gif" text="处理中，请稍候"></div>

    <script type="text/javascript" src="../../assets/js/vui.js"></script>
    <script>
    (function () {
        vui.init()

        vui.route(function (path) {
            if (path.charAt(path.length-1) !== '/')
                vui.$data.view = path
        }, true)
    })()
    </script>
</body>
</html>
