<div src="project/" v-component="page">
    <div class="page-header">
        <h3>项目管理 <small><i class="icon icon-angle-double-right"></i> 项目列表</small></h3>
        <div class="buttons">
            <a class="btn btn-primary" href="javascript:;" onclick="history.back()" ><i class="icon icon-reply"></i> 返回</a>
            <a class="btn btn-success" v-href="role.edit:0"><i class="icon icon-plus"></i> 新建</a>
            <a class="btn btn-default" href="javascript:;"><i class="icon icon-refresh"></i> 刷新</a>
        </div>
    </div>
    <div class="page-content scrollable">
        <table class="table table-listed">
            <thead>
                <tr>
                    <th style="width:19px;" v-html="'selectall'|icon"></th>
                    <th style="width: 80px;"></th>
                    <th>项目名称</th>
                    <th>负责人</th>
                    <th>成员</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="data">
                    <td v-html="'select'|icon"></td>
                    <td>
                        <a title="编辑" v-href="role.edit:{{id}}"><i class="icon icon-edit"></i></a>&nbsp;
                        <a title="删除" class="text-danger" href="javascript:;" v-on="click:del('{{id}}')"><i class="icon icon-trash-o"></i></a>
                    </td>
                    <td>{{name}}</td>
                    <td>{{chief_name}}</td>
                    <td>{{users_name}}</td>
                    <td>{{created_at}}</td>
                    <td>{{edit_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
