<div class="page-content scrollable" src="project/" size="50" v-component="page">
    <div class="page-header">
        <form class="form-inline form-search" v-on="submit:search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="项目名称" v-model="filters.name" />
                    <div class="input-group-addon text-danger"><i class="icon icon-search"></i></div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <a v-if="user.level<=1" class="btn btn-success" v-on="click:edit('新建项目', 'project_edit')"><i class="icon icon-plus"></i> 新建</a>
        </div>
    </div>
    <div class="page-row row" v-repeat="data | orderBy 'updated_at' -1 | filterBy filters.name">
        <div class="col-sm-6 level-border btn-hover level-border-{{level}}">
            {{name}}
            <a v-if="user.level<=1" title="删除" href="javascript:;" class="text-danger" v-on="click:remove({{id}})"><i class="icon icon-trash-o"></i>删除</a>
            <a v-if="user.level<=1" title="编辑" href="javascript:;" v-on="click:edit('修改-{{name}}', 'project_edit', 'id', {{id}})"><i class="icon icon-edit"></i>编辑</a> &nbsp;
        </div>
        <div class="col-sm-2 task-num"><a title="进行中" class="text-success">{{ongoing}}</a><a title="已超期限" class="text-danger">{{expired}}</a><a title="已完成" class="text-muted">{{finished}}</a></div>
        <div class="col-sm-4">{{users_name}}</div>
    </div>
</div>
