<div src="report/{{project_id}}/{{task_id}}" pageable="false" v-component="page">
    <a href="javascript:;" v-show="!showform" v-on="click:showform=true"><span v-on="click:model={'project_id':project_id,'task_id':task_id}">新增报告</span></a>
    <form v-show="showform" action="report/" callback="this.$parent.showform=false;this.$parent.data.unshift(res.data)" class="form-horizontal" delay="true" v-component="form" v-with="model:model">
        <form-control label="进度" col=",4" tip="百分比" inline="true" type="digiter" min="0" max="100" v-with="value:model.progress"></form-control>
        <form-control label="备注" col=",9" rows="6" type="textarea" maxlen="500" v-with="value:model.des"></form-control>
        <form-control>
            <button class="btn btn-primary" type="submit">提 交</button>
        </form-control>
    </form>

    <div class="report-list" v-repeat="data | orderBy 'report_at' -1">
        <p>{{des}}</p>
        <p>{{report_name}} 在 {{report_at|datetime}} 提交，进度 {{progress}} %</p>
    </div>
</div>
