<div class="page-menu">
    <ul class="list-unstyled">
        <li><a v-href="task.index">当前任务</a></li>
        <li><a class="active" v-href="task.mine">我的任务</a></li>
        <li><a v-href="task.month">本月任务</a></li>
        <li><a v-href="task.week">本周任务</a></li>
    </ul>
</div>
<div class="page-content scrollable" v-component="task-list" src="task/mine" v-with="data:data">
    <div class="page-header">
        <div class="form-group" style="width:240px">
            <div class="input-group">
                <input class="form-control" v-model="filters.all" />
                <div class="input-group-addon text-danger"><i class="icon icon-search"></i></div>
            </div>
        </div>
        <div class="buttons">
            <a class="btn btn-success" v-on="click:taskEdit(0, '新建任务')"><i class="icon icon-plus"></i> 新建</a>
        </div>
    </div>
    <div class="page-row row">
        <div class="col-sm-7"></div>
        <div class="col-sm-1">状态</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1 col-date">创建时间</div>
        <div class="col-sm-1 col-date">到期时间</div>
        <div class="col-sm-1 col-date">修改时间</div>
    </div>
    <div v-repeat="data | orderBy 'level' -1">
        <div class="page-row-header">{{name}}</div>
        <div v-repeat="tasks | filterBy filters.all | orderBy 'level' -1 | orderBy 'deadline'">
            <div class="row page-row page-row-condensed">
                <div class="col-sm-5  level-border level-border-{{level}}" v-on="click:report({{id}})">
                    <a href="javascript:;">{{name}}</a>
                </div>
                <div class="col-sm-2"><div class="progress"><div class="progress-bar" style="width: {{progress}}%;">{{progress}}%</div></div></div>
                <div class="col-sm-1">{{status_text}}</div>
                <div class="col-sm-1">{{user_name}}</div>
                <div class="col-sm-1 col-date">{{created_at|date yy-MM-dd}}</div>
                <div class="col-sm-1 col-date">{{deadline|date yy-MM-dd}}</div>
                <div class="col-sm-1 col-date">{{updated_at|date yy-MM-dd}}</div>
            </div>
        </div>
    </div>
   
</div>
