<div class="page-content scrollable" src="task/" size="50" v-component="page">
    <div class="page-header">
        <form class="form-inline form-search" v-on="submit:search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="任务名称" v-model="filters.name" />
                    <div class="input-group-addon text-danger" v-on="click:search"><i class="icon icon-search"></i></div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <a class="btn btn-success" v-on="click:edit('新建任务', 'task_edit')"><i class="icon icon-plus"></i> 新建</a>
        </div>
    </div>
    <div class="page-row row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 btn-hover">
        </div>
        <div class="col-sm-2 task-num"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1 col-date">创建时间</div>
        <div class="col-sm-1 col-date">到期时间</div>
        <div class="col-sm-1 col-date">完成时间</div>
    </div>

    <div class="page-row row" v-repeat="data">
        <div class="col-sm-5 level-border level-border-{{level}} btn-hover">
            {{name}} 
            <a title="删除" href="javascript:;" class="text-danger" v-on="click:remove({{id}})"><i class="icon icon-trash-o"></i>删除</a>
            <a title="编辑" href="javascript:;" v-on="click:edit('编辑:{{name}}', 'task_edit', 'id', {{id}})"><i class="icon icon-edit"></i>编辑</a> &nbsp;
        </div>
        <div class="col-sm-1">{{user_name}}</div>
        <div class="col-sm-1">{{status_text}}</div>
        <div class="col-sm-2"><div class="progress"><div class="progress-bar" style="width: {{progress}}%;">{{progress}}%</div></div></div>
        <div class="col-sm-1 col-date">{{created_at|date yy-MM-dd}}</div>
        <div class="col-sm-1 col-date">{{deadline|date yy-MM-dd}}</div>
        <div class="col-sm-1 col-date">{{finished_at|date yy-MM-dd}}</div>
    </div>
</div>
