<div src="task/" delay="true" callback="message.success(res.data.name + ' 保存成功');this.model=res.data;this.$parent.$parent.close(res.status)" v-component="form" v-with="model:model">
    <form class="form-horizontal" role="form">

        <form-control label="任务名称" require inline="true" minlen="2" maxlen="40" type="text" v-with="value:model.name"></form-control>
        <form-control label="项目" col=",6" type="select" src="project/select" v-with="value:model.level"></form-control>
        <form-control label="优先级" col=",3" type="select" src="project/level" v-with="value:model.level"></form-control>
        <form-control label="责任人" col=",3" type="mult-select" src="user/select" single="true" v-with="value:model.chief"></form-control>
        <form-control label="任务期限" type="date" require inline="true" v-with="value:model.chief"></form-control>
        <form-control label="备注" col=",9" rows="6" type="textarea" maxlen="500" v-with="value:model.des"></form-control>

        <form-control>
            <button class="btn btn-primary" type="submit">提 交</button>
        </form-control>
    </form>
</div>
