<div src="task/" v-component="page">
    <div class="page-header">
        <h3>任务管理 <small><i class="icon icon-angle-double-right"></i> 任务列表</small></h3>
        <div class="buttons">
            <a class="btn btn-primary" href="javascript:;" onclick="history.back()" ><i class="icon icon-reply"></i> 返回</a>
            <a class="btn btn-success" v-href="role.edit:0"><i class="icon icon-plus"></i> 新建</a>
            <a class="btn btn-danger" v-on="click:delSelect('id')" title="删除" href="javascript:;"><i class="icon icon-trash-o"></i> 删除</a>
            <a class="btn btn-default" href="javascript:;"><i class="icon icon-refresh"></i> 刷新</a>
        </div>
    </div>
    <div class="page-content scrollable">
        <table class="table table-listed">
            <thead>
                <tr>
                    <th style="width:19px;" v-html="'selectall'|icon"></th>
                    <th style="width: 40px;"></th>
                    <th>角色名</th>
                    <th>行为</th>
                    <th>备注</th>
                    <th>修改时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="data">
                    <td v-html="'select'|icon"></td>
                    <td>
                        <a title="编辑" v-href="role.edit:{{id}}"><i class="icon icon-edit"></i></a>&nbsp;
                    </td>
                    <td>{{name}}</td>
                    <td>{{type_text}}</td>
                    <td>{{des}}</td>
                    <td>{{edit_at|datetime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
