<div class="page-content scrollable" src="task/" pageable="false" v-component="page">
    <div class="page-header">
        <form class="form-inline form-search" v-on="submit:search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" v-model="filters.all" />
                    <div class="input-group-addon text-danger" v-on="click:search"><i class="icon icon-search"></i></div>
                </div>
            </div>
        </form>
        <div class="buttons">
            <a class="btn btn-success" v-on="click:edit('新建任务', 'task_edit')"><i class="icon icon-plus"></i> 新建</a>
        </div>
    </div>
    <div class="page-row row">
        <div class="col-sm-6"></div>
        <div class="col-sm-1">状态</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1 col-date">创建时间</div>
        <div class="col-sm-1 col-date">到期时间</div>
        <div class="col-sm-1 col-date">完成时间</div>
    </div>

    <div class="page-row row" v-repeat="data | filterBy filters.all | orderBy 'level' | orderBy 'deadline'">
        <div class="col-sm-3 level-border level-border-{{level}}" v-on="click:openbox({
                title: '{{name}}',
                src: 'report.list',
                data: {
                    project_id: {{project_id}},
                    task_id: {{id}}
                },
                show: true
            })">
            <a href="javascript:;" >{{name}}</a>
        </div>
        <div class="col-sm-2 btn-hover">
            <a v-if="editable&&(status=='progress'||status=='testing')" href="javascript:;" class="text-danger" v-on="click:remove({{id}})"><i class="icon icon-trash-o"></i>终止</a>
            <a v-if="editable&&status=='canceled'" href="javascript:;" class="text-success" v-on="click:act('task/refresh', {{id}}, 'id', {{id}})"><i class="icon icon-reply"></i>恢复</a>
            <a v-if="editable&&status=='created'" href="javascript:;" class="text-danger" v-on="click:remove({{id}})"><i class="icon icon-trash-o"></i>删除</a>
            <a v-if="editable&&status!='canceled'&&status!='finished'" href="javascript:;" v-on="click:edit('编辑:{{name}}', 'task_edit', 'id', {{id}})"><i class="icon icon-edit"></i>编辑</a> &nbsp;
        </div>
        <div class="col-sm-1">{{user_name}}</div>
        <div class="col-sm-1">{{status_text}}</div>
        <div class="col-sm-2"><div class="progress"><div class="progress-bar" style="width: {{progress}}%;">{{progress}}%</div></div></div>
        <div class="col-sm-1 col-date">{{created_at|date yy-MM-dd}}</div>
        <div class="col-sm-1 col-date">{{deadline|date yy-MM-dd}}</div>
        <div class="col-sm-1 col-date">{{finished_at|date yy-MM-dd}}</div>
    </div>
</div>
